.banner{
    width: 100%;
    height: 100vh;
    background:url("../img/homepge.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    colour:white;
}
