/* Page background */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5e6da;
  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Form container */
form {
  background: #fff;
  padding: 30px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Heading */
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Labels */
label {
  font-size: 14px;
  color: #555;
}

/* Inputs */
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Input focus effect */
input:focus {
  outline: none;
  border-color: #667eea;
}

/* Button */
button {
  width: 100%;
  padding: 10px;
  background: #667eea;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

/* Button hover */
button:hover {
  background: #5a67d8;
}

