* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
  width: 100%;
  background-color:rgb(128, 0, 64);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

/* Navbar inner div */
.navdiv {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo a {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

/* Menu list */
.navdiv ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

/* Menu items */
.navdiv ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
   color: white;
  padding: 8px 12px;
  transition: 0.3s ease;
}

/* Hover effect */
.navdiv ul li a:hover {
  color: #cccccc;
}

/* Responsive (mobile) */
@media (max-width: 768px) {
  .navdiv {
    flex-direction: column;
  }

  .navdiv ul {
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .navdiv ul li a {
    display: block;
    padding: 10px 0;
  }
}
